.nav-icons{ background:url("nav-icons.png") top left no-repeat; }
.nav-icons_r7_c1{ width:53px; height:50px; background-position:-10px -10px; }
.nav-icons_r5_c1{ width:53px; height:50px; background-position:-10px -70px; }
.nav-icons_r3_c1{ width:53px; height:50px; background-position:-10px -130px; }
.nav-icons_r1_c1{ width:53px; height:50px; background-position:-10px -190px; }
