.houses{ background:url("houses.png") top left no-repeat; }
.house-green{ width:44px; height:42px; background-position:-10px -10px; }
.house-red{ width:35px; height:42px; background-position:-10px -62px; }
